$primary: #361c75;
$secondary: #bb70cc;
$tertiary: #d4c2fc;

//Overwrite bootstrap btn colour
.text {
  &-primary {
    color: $primary !important;
  }
}

.btn {
  &-primary {
    background: $primary !important;
    border: 0;

    &:hover {
      background: $secondary !important;
    }
  }
}
.bg-tertiary {
  background: $tertiary !important;
}
