$primary: #361c75;
$secondary: #c6adff;

//Overwrite bootstrap btn colour
.text {
  &-primary {
    color: $primary !important;
  }
}

.btn {
  &-primary {
    background: $primary;

    &:hover {
      background: $secondary !important;
    }
  }
}
